.sort-links {
  margin: .5em 0;
}

// @TODO remove for an empty container at the left of a checkbox
.form-item-locked {
  padding-left: 120px;
}

.modal-title {
  word-wrap: break-word;
}

#ucms-contrib-results table tbody tr td {
  word-wrap: break-word;
}
#ucms-contrib-results table tbody tr td:last-child {
  min-width: 122px;
}
