.sort-links {
  margin: .5em 0;
}

// @TODO remove for an empty container at the left of a checkbox
.form-item-locked {
  padding-left: 120px;
}

.modal-title {
  word-wrap: break-word;
}

#ucms-contrib-results table tbody tr td {
  word-wrap: break-word;
}
#ucms-contrib-results table tbody tr td:last-child {
  min-width: 122px;
}

// Rewrite so that panel footer has same color than header
.panel-variant(@border; @heading-text-color; @heading-bg-color; @heading-border) {
  border-color: @border;

  & > .panel-heading {
    color: @heading-text-color;
    background-color: @heading-bg-color;
    border-color: @heading-border;

    + .panel-collapse > .panel-body {
      border-top-color: @border;
    }
    .badge {
      color: @heading-bg-color;
      background-color: @heading-text-color;
    }
  }
  & > .panel-footer {
    background-color: @heading-bg-color;
    + .panel-collapse > .panel-body {
      border-bottom-color: @heading-border;
    }
  }
}

#dashboard {
  //noinspection CssOptimizeSimilarProperties
  .scrolling {
      overflow: auto;
      max-height: 250px;
	  background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
      background-repeat: no-repeat;
      background-color: white;
      background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

      /* Opera doesn't support this in the shorthand */
      background-attachment: local, local, scroll, scroll;
  }
  .panel-body {
    min-height: 280px;
  }
  .with-actions .panel-body {
    min-height: 225px;
  }
  .panel-body {
    min-height: 280px;
  }
  .with-actions .panel-body {
    min-height: 225px;
  }

  #porlet-ucms_site_sites_portlet {
    table td:nth-of-type(2) {
      white-space: nowrap;
    }
  }
}
